body {
    background-color: rgb(114, 114, 123);
    color: #152e48;
}

div {
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.title {
    text-align: center;
}


.dayLeft {
    float: left;
    border-style: none;
}

.dayRight {
    float: right;
    border-style: none;
}

.error {
    color: #FF0000;
}