body {
    background-color: #062F4F;
    color: #e0dcdc;
}

div {
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.title {
    text-align: center;
}

.dayLeft {
    float: left;
    border-style: none;
}

.dayRight {
    float: right;
    border-style: none;
}

.error {
    color: #FF0000;
}